<header class="main">
  <h4><a href="/" class="no-leet">{{ site.author.name }}</a></h4>
  <h5>{{ site.title }}</h5>
  <div class="social">
    <a class="github" href="https://github.com/{{ site.author.github }}" title="Fork me on GitHub">Fork me on GitHub</a>
    <a class="twitter" href="https://twitter.com/{{ site.author.twitter }}" title="Follow me on Twitter">Follow me on Twitter</a>
    <a class="facebook" href="https://www.facebook.com/{{ site.author.facebook }}" title="Find me on Facebook">Find me on Facebook</a>
    <a class="email" href="mailto:{{ site.author.email }}?subject=Hi!" title="E-mail me">E-mail me</a>
  </div>
</header>
