---
---

/*
 * some reset and common stuffs
 */

* {
  margin: 0;
  padding: 0;
}

header, article, footer {
  display: block;
}

html, body {
  height: 100%;
}

body {
  background: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #333333;
}

#wrapper {
  height: 100%;
}

/*
 * main header
 */

header.main {
  h4 {
    a {
      padding-bottom: 1px;
      color: #57534a;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;

      &:hover, &:active {
        text-decoration: underline;
      }
    }
  }

  h5 {
    font-size: 16px;
    color: #87837a;
    font-weight: normal;
  }

  div.social {
    a {
      display: inline-block;
      width: 18px;
      height: 18px;
      text-indent: -9999px;
      overflow: hidden;
      background-image: url('../images/icons.png');
      background-size: 90px 18px; /* ! */
      background-repeat: no-repeat;
      background-position: 50% 50%;
      opacity: 0.5;

      &:hover, &:active {
        opacity: 0.75;
      }

      &.github {
        background-position: 0 0;
      }
      &.twitter {
        background-position: -18px 0;
      }
      &.facebook {
        background-position: -36px 0;
      }
      &.email {
        background-position: -54px 0;
      }
    }
  }
}

/*
 * article header
 */

header.article {
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #eeeeee;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0 none transparent;
  }

  time {
    font-size: 16px;
    color: #666666;
  }
}
.default {
  header.article {
    padding: 0;
  }
}

/*
 * article
 */

article {
  h1, h2, h3, h4 {
    margin: 15px 0;
    font-weight: bold;
    cursor: text;
    position: relative;
    color: #333333;

    a.permalink {
      position: absolute;
      left: 0px;
      top: 0;
      width: 0.76em;
      margin-left: -0.75em;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      text-decoration: none;
      background-color: inherit;
      visibility: hidden;
    }

    &:hover {
      a.permalink {
        visibility: visible;;
      }
    }
  }

  h1 {
    font-size: 36px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
    line-height: 1.2em;
  }

  h2 {
    font-size: 28px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eeeeee;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }
  
  p {
    margin: 0 0 10px 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  ul {
    list-style: disc inside;
    margin: 15px 0;

    li {
      margin: 10px 0;
    }

    &.posts {
      list-style: none outside;

      li {
        margin: 0;

        time {
          font: normal 85% 'Consolas', 'Liberation Mono', 'Menlo', 'Courier', monospace;
          color: #666666;
        }
      }
    }
  }

  ol {
    list-style: decimal inside;
    margin: 15px 0;

    li {
      margin: 10px 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;;

    thead {
      tr {
        background-color: #ffffff;
        border-top: 1px solid #cccccc;

        th {
          padding: 5px 10px;
          border: 1px solid #dddddd;
        }
      }
    }

    tbody {
      tr {
        background-color: #ffffff;
        border-top: 1px solid #cccccc;

        &:nth-child(2n+1) {
          background-color: #f0f0f0;
        }
        td {
          padding: 5px 10px;
          border: 1px solid #dddddd;
        }
      }
    }
  }

  a {
    font: normal 85% 'Consolas', 'Liberation Mono', 'Menlo', 'Courier', monospace;
    color: #4183c4;
    text-decoration: none;

    &:hover, &:active {
      text-decoration: underline;
    }
  }

  code {
    padding: 3px 6px;
    background: #f0f0f0;
    border-radius: 3px;
    font: normal 85% 'Consolas', 'Liberation Mono', 'Menlo', 'Courier', monospace;
    color: #333333;
  }

  pre {
    margin: 15px 0;
    padding: 15px;
    background: #f0f0f0;
    border-radius: 3px;
    overflow: auto;
    line-height: 19px;

    code {
      padding: 0;
      margin: 0;
      border: 0 none;
    }
  }
}

/*
 * responsive: phones, tablets, small tvs
 */

@media only screen and (min-width: 320px) and (max-width: 1409px) {
  header.main {
    height: 64px;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;

    h4 {
      a {
        display: block;
        height: 58px;
        padding: 6px 0 0 74px;
        background: url('../images/tzvetkoff.png') no-repeat scroll 0 0;
        background-size: 64px 64px;
        font-size: 24px;

        &:hover, &:active {
          text-decoration: none;
        }
      }
    }

    h5 {
      margin: -32px 0 0 74px;
    }

    div.social {
      display: none;
    }
  }

  article {
    padding: 10px;

    img {
      max-width: 100%;
    }

    pre {
      margin: 10px 0;
      padding: 10px;
    }
  }

  footer {
    display: none;
  }
}

/*
 * responsive: tablets, small tvs
 */

@media only screen and (min-width: 768px) {
  header.main {
    div.social {
      float: right;
      display: block;
      margin: -30px 0 0 0;
    }
  }
}

/*
 * responsive: big tvs
 */

@media only screen and (min-width: 1410px) {
  body {
    background: #ffffff url('../images/body.png') no-repeat fixed 50% 0;
  }

  header.main {
    position: fixed;
    right: 10px;
    right: calc((100% - 1000px) / 4 - 100px);
    top: 50%;
    width: 200px;
    margin-top: -100px;

    h4 {
      text-align: center;

      a {
        display: block;
        padding: 69px 0 1px 0;
        background: url('../images/tzvetkoff.png') no-repeat scroll 50% 0;
        background-size: 64px 64px;
      }
    }

    h5 {
      text-align: center;
    }

    div.social {
      float: none;
      text-align: center;
      margin: 5px 0;
    }
  }

  article {
    box-sizing: border-box;
    width: 1000px;
    min-height: 100%;
    margin: 0 auto;
    padding: 30px;
    background: #ffffff;
    border: 2px solid #e0e0e0;
    border-top: 0;
    border-bottom: 0;
  }

  footer {
    position: fixed;
    left: 32px;
    top: 32px;

    a {
      display: block;
      text-indent: -9999px;
      overflow: hidden;
      width: 24px;
      height: 24px;
      background: url('../images/icons.png') no-repeat scroll -150px -6px;
      opacity: 0.4;

      &:hover, &:active {
        opacity: 0.6;
      }
    }
  }
}

