<!DOCTYPE html>
<html>
<head>
  <!-- charset, viewport and title -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1, user-scalable=no" />
  <title>{{ page.title }} @ {{ site.title }}</title>

  <!-- metas for webapps added to homescreen and other stuff -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="format-detection" content="telephone=no" />

  <!-- icons -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/assets/images/pirate.png" />
  <link rel="apple-touch-icon" href="/assets/images/pirate.png" />

  <!-- stylesheets and javascripts -->
  <link rel="stylesheet" type="text/css" media="screen, projection" href="/assets/stylesheets/main.min.css" />
  <link rel="stylesheet" type="text/css" media="screen, projection" href="/assets/stylesheets/syntax.min.css" />
  <link rel="stylesheet" type="text/css" media="screen, projection" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,700italic&amp;subset=latin,latin-ext,cyrillic" />
  <!--[if lte IE 8]>
  <script type="text/javascript" src="/assets/javascripts/ie.min.js"></script>
  <![endif]-->
</head>
<body>
  <div id="wrapper" class="post">
    {% include header.html %}

    <article>
      <header class="article">
        <h1>{{ page.title }}</h1>
        {% if page.date %}<time>{{ page.date | date_to_string }}</time>{% endif %}
      </header>

      {{ content }}
      {% include comments.html %}
    </article>

    {% include footer.html %}
  </div>
</body>
</html>
